<div id="<%= dom_id rota %>">
  <p>
    <strong>Title:</strong>
    <%= rota.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= rota.description %>
  </p>

  <p>
    <strong>Members:</strong>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th colspan="4">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% rota.prioritised_members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= link_to 'Relieve', relieve_rota_member_path(rota, member), data: { turbo_method: :post } %></td>
        <td><%= link_to 'Move up', move_up_rota_member_path(rota, member), data: { turbo_method: :post } %></td>
        <td><%= link_to 'Move down', move_down_rota_member_path(rota, member), data: { turbo_method: :post } %></td>
        <td><%= link_to 'Retire', rota_member_path(rota, member), data: { turbo_method: :delete } %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </p>

</div>
