<div id="<%= dom_id rota %>">
  <p>
    <strong>Title:</strong>
    <%= rota.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= rota.description %>
  </p>

  <p>
    <strong>Members:</strong>
    <table>
      <thead>
      <th colspan="3">Name</th>

      </thead>
      <tbody>
      <% rota.prioritised_members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= link_to 'Relieve', relieve_rota_member_path(rota, member), data: { turbo_method: :post } %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </p>

</div>
